:root{
    --background:#FFFFFF;
    --main-light:#2B7FFF;
    --main-dark:#011C44;
    --secondary-grey:#4A4A4A;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-style: normal;
}
.link{
    color: var(--main-dark);
}
.link:hover{
    color: var(--main-light);
    font-weight: 700;
}
.hero-title{
    color: var(--main-light);
    font-family: "Play", sans-serif;
    font-size: 140px;
    font-weight: bold;
    line-height: 0.8;
}
.paragraph{
    color: var(--main-dark);
}
.paragraph-about{
    font-style: 22px;
    line-height: 1.7;
}
.secondary-paragraph{
    color: var(--secondary-grey);
    font-style: 12px;
}

.section-title{
    color: var(--main-dark);
    font-family: "Play", sans-serif;
    font-style: 22px;
    font-weight: 700;
    line-height: auto;
}
.section-title .accent{
    color: var(--main-light);
}
.about-accent{
    text-transform: capitalize;
    font-weight: 600;
}
.button{
    background-color: var(--main-light);
    color: var(--background);
    border-radius: 32px;
    border: var(--main-light) 2px solid;
    cursor: pointer;
}
.button:hover{
    background-color: transparent;
    border: var(--main-light) 2px solid;
    color: var(--main-dark);
    font-weight: 600;
}
.why-text{
    line-height: 1.3;
}
.footer-contact{
    color: var(--background);
    font-size: 16px;
}
.footer-copyright{
    font-size: 13px;
    color: #747272;
}
.footer-text{
    font-size: 16px;
    color: var(--background);
}